@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

html,
body {
  margin: 0;
  height: 100%;
}

* {
  font-family: 'Poppins', sans-serif !important;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

router-outlet {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: -100px;
  left: -100px;
  right: -100px;
  bottom: -100px;
  background:
    linear-gradient(135deg, rgba(119, 113, 121, 0.9), rgba(88, 87, 94, 0.8)),
    url('../public/images/bg.jpeg') center/cover no-repeat;
  background-blend-mode: soft-light;
  filter: blur(75px) brightness(0.8);
  z-index: -1;
}

app-login,
app-register {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  /* background-color: hsl(240, 10%, 15%); */
  color: hsl(0, 0%, 95%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}